%h1 All Gifs
%br
- if current_user.admin?
  =link_to("Dashboard", admin_categories_path)

- @categories.each do |category|
  %div{class: "#{category.name}"}
    %h2= "#{category.name.capitalize}"
    %div{class: "delete_#{category.name}"}
      = link_to("Delete", admin_category_path(category), method: :delete)
    - category.gifs.each do |gif|
      .gif
        = image_tag(gif.url)
        - if current_user.gifs.include?(gif)
          = link_to("Unfavourite", favourite_path(Favourite.where(gif_id: gif.id, user_id: current_user.id), gif: gif.id), method: :delete)
        - else
          = link_to("Favourite", favourites_path(gif: gif.id), method: :post)
        |
        - if current_user.admin?
          = link_to("Delete", gif_path(gif), method: :delete)
