%h1= "#{current_user.username}'s Favourites"

= link_to "All Gifs", gifs_path
- if current_user.admin?
  = link_to "Dashboard", admin_categories_path

- @categories.each do |category|
  %div{class: "#{category.name}"}
    %h2= "#{category.name.capitalize}"
    - category.gifs.each do |gif|
      - if current_user.gifs.include?(gif)
        .gif
          = image_tag(gif.url)
